<h1> All Watering Plans </h1>

<table>
<thead>
<tr>
  <th><strong>Plant Family</strong></th>
  <th><strong>Weeks Between waterings</strong></th>
  <th><strong>Soil Moiusture</strong></th>
</tr>

</thead>
<tbody>


    <% @waters.each do |w| %>
    
      <tr>
        <td><%=w.plant_family%> </td>
        <td style="text-align:center"><%=w.weeks%> </td>
        <td><%=w.soil%></td>
      </tr>
    

    <%end%> 
    </tbody>
    </table>
    </br> </br>
    
    <%= link_to "Create a New Watering Plan", new_water_path %>