<h1> <%= @user.username %>'s Plant Journal </h1>

<% if @user.journals.last.water_id %>
<p>Journal Entries:</p>
<% @user.journals.each do |journal| %>
    <div><%= link_to journal.plant.name, plant_path(journal.plant)%></div> 
  <div><%= link_to journal.water.plant_family, water_path(journal.water) %></div>
<% end %>
<% end %>

<%= link_to "New Entry", new_user_journal_path(@user) %>

