<% if @plants %>

<h1> All Plants </h1>


<thead>
  <tr>
    <th colspan="3"></th>
  </tr>
</thead>

<tbody>
  <tr>
    <td><strong>Name</strong></td>
    <td><strong>Light Requirements</strong></td>
    <td><strong>Difficulty Rating</strong></td>
  </tr>

<% @plants.each do |plant| %>
    
<table>

  <tr>
    <td><%=plant.name%> </td>
    <td><%=plant.light%> </td>
    <td><%=plant.difficulty%> </td>
  </tr>


<%end%>
</tbody>
</table>

<%else%>
<h2> No plants yet :) </h2>
<%end%>

<%= link_to "Create a New Plant", new_plant_path %>