<% if @most_difficult %>
    <h1> The most difficult plants are </h1>

    <%binding.pry%>
    <% @most_difficult.each do |diff| %>
        <li> <%= diff.name%>  Level <%=diff.difficulty%> difficulty</li>
        <%end%>

    <%else%>
    <h1> No Difficult Plants Yet! </h1>
    <%end%>
